################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraphQL_API/.vs/GraphQL_API
/GraphQL_API/obj
